{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
   <title>{% block title %}Ma gestion bancaire{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'css/gestion.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="page-header">
      <h1><a href="/">Ma gestion bancaire </a>
      {% if user.is_authenticated %}
          <a href="" class="top-menu">
          <span class="glyphicon glyphicon-plus"></span></a></h1>
       {% endif %}

  </div>

    <nav>
       {% block nav %}
<ul>
        <li>   <a href="/compte"> Comptes</a></li>
        <li>   <a href="/"> Postes</a></li>
        <li>   <a href="/"> Paiements</a></li>
        <li>   <a href="/"> Motifs</a></li>
</ul>
       {% endblock %}
   </nav>
   <section class="content container">
            <div class="row">
                <div class="col-md-8">
                  {% block content %}
                  {% endblock %}
                </div>
            </div>
   </section>
<footer>&copy; Gestion Bancaire avec Django v:1.11.5</footer>
</body>
</html>
