{% extends 'gestion/base.html' %}

{% block content %}
{% for compte in comptes %}
     {% if user.is_authenticated %}
     <div class="post">
       <h1><a href="{% url 'gestion:compte_detail' pk=compte.pk %}">{{ compte.id }}-*-{{ compte.libelle }}</a></h1>
       <p>{{ compte.numero }}</p>
       <p class="montant">{{compte.solde }} €</p>
      </div>
       {% else %}
       <div class="post">
         <h1><a href="{% url 'admin:login'%}">{{ compte.libelle }}</a></h1>
       <div class="post"> 
     {% endif %}

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if comptes.has_previous %}
            <a href="?page={{ comptes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comptes.number }} of {{ comptes.paginator.num_pages }}.
        </span>

        {% if comptes.has_next %}
            <a href="?page={{ comptes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
