{% extends 'gestion/base.html' %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}

<h1>{{ ecriture.commentaires }}</h1>
<ul>
    <p>    {{ ecriture.compte.libelle }}</p>
    <p> Valeur:   {{ ecriture.jour }}</p>
    <p>Date d'opération:    {{ ecriture.date }}</p>
    <p>Paiement par:    {{ ecriture.mouv.libelle }}</p>
    <p>Poste opération:    {{ ecriture.poste }}</p>
    <p>Motif opération    {{ ecriture.cause }}</p>
    <p>Montant débit:    {{ ecriture.debit }}</p>
    <p>Montant crédit:    {{ ecriture.credit }}</p>
    <p>Opération validée:    {{ ecriture.validee }}</p>
    <p>Opération recurrente:    {{ ecriture.mensuelle }}</p>

</ul>
<input type="submit" value="Save" />
</form>
{% endblock %}
