{% extends 'gestion/base.html' %}

{% block content %}

{% if latest_ecriture_list %}
{% for ecriture in latest_ecriture_list %}
    <li><h1><a href="{% url 'gestion:detail' ecriture.id %}">
      {{ ecriture.id }} - - {{ ecriture.date }}</a>
    </h1></li> <h2>{{ ecriture.commentaires }}</h2>
  {% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
  </span>
</div>
{% else %}
      <p>Il n'y a pas d'enregistrement dans la base de données.</p>
{% endif %}
{% endblock %}
