{% extends 'gestion/base.html' %}

{% block content %}
<h2>Brouillard des dernières opérations enregistrées</h2>
<br />
{% if latest_ecriture_list %}
<br />
<table>

  <tr>
      <th> Ligne</th>
      <th> Valeur</th>
      <th> Date d'opération</th>
      <th> Paiement </th>
      <th> Poste opération  </th>
      <th> Motif opération </th>
      <th> Débit: </th>
      <th> Crédit: </th>
      <th>Validée </th>
      <th>Mensuelle</th>
    </tr>
      {% for ecriture in latest_ecriture_list %}
    <tr>
        <td> <a href="{% url 'gestion:detail' ecriture.id %}">{{ ecriture.id }}</a></td>
      <td>    {{ ecriture.jour }}</td>
      <td>    {{ ecriture.date }}</td>
      <td>    {{ ecriture.mouv }}</td>
      <td>   {{ ecriture.poste }}</td>
      <td>   {{ ecriture.cause }}</td>
      <td>    {{ ecriture.debit }}</td>
      <td>    {{ ecriture.credit }}</td>
      <td>   {{ ecriture.validee }}</td>
      <td>    {{ ecriture.mensuelle }}</td></tr>

  {% endfor %}
  </table>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
  </span>
</div>
{% else %}
      <p>Il n'y a pas d'enregistrement dans la base de données.</p>
{% endif %}
{% endblock %}
