{% extends 'gestion/base.html' %}

{% block content %}
    <div class="post">
        <h1>{{ poste.nom }}</h1>
        
            <h1>{{ poste.compte.libelle }}</h1>
            <p class="montant">{{ poste.cumul }}</p>
        </div>

      {% if user.is_authenticated %}
      <a class="btn btn-default" href="{% url 'gestion:poste_edit' pk=poste.pk %}">
      <span class="glyphicon glyphicon-pencil"></span></a><br />
      <br />
      <a href="{% url 'gestion:poste_new' %}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span></a>


        {% endif %}


{% endblock %}
